
body {
    display: block;
    font-family: "Segoe UI", sans-serif;
    min-width: 170px;
    min-height: 200px;
    background: var(--colorBgLight);
    color: var(--colorFg);
    margin: 0;
    cursor: default;
    user-select: none;
}


/* Extensions */

#switcher {
    position: relative;
    overflow-y: hidden;
    margin-bottom: 5px;
}
#switcher:hover {
    overflow-y: overlay;
}
.extension {
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    color: var(--colorFgFadedMore);
}
.extension div {
    border: 1px solid transparent;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: line-through;
}
.extension.enabled div {
    text-decoration: none;
}
.extension div::before {
    position: absolute;
    content: "";
    text-align: center;
    left: 1px;
    width: 20px;
}
.extension.enabled, .extension.enabled:hover {
    font-family: "Segoe UI", sans-serif;
    color: var(--colorFg);
}
.extension:hover {
    background-color: var(--colorHighlightBg);
    color: var(--colorHighlightFg);
}
.extension.enabled:hover {
    color: var(--colorHighlightFg);
}


/* Menu */

#menu {
    padding: 5px 15px 5px 15px;
    white-space: nowrap;
    overflow: hidden;
}
.info, .hide, .options, .uninstall {
    font-family: "Segoe UI", sans-serif;
    width: 48%;
    text-align: center;
    padding: 8px 0;
    border-radius: 3px;
    background-color: var(--colorBgFaded);
}
.info {
    float: left;
    color: var(--colorFgFaded);
    cursor: pointer;
}
.hide {
    float: right;
    color: var(--colorFgFaded);
    cursor: pointer;
}
.options {
    float: left;
    clear: left;
    margin-top: 5px;
    color: var(--colorFgFaded);
    cursor: default;
}
.options.optActive {
    color: var(--colorFgFaded);
    cursor: pointer;
}
.info:hover, .hide:hover, .options.optActive:hover {
    background-color: var(--colorAccentBg);
    color: var(--colorAccentFg) !important;
}
.uninstall {
    float: right;
    clear: right;
    margin-top: 5px;
    color: var(--colorFgFaded);
    cursor: pointer;
}
.uninstall:hover {
    background-color: var(--colorAccentBg);
    color: var(--colorAccentFg) !important;
}


/* Info */

#txtdiv {
    padding: 0 15px 0 15px;
    border: 1px solid transparent;
    white-space: normal;
    word-break: break-all;
    margin-top: 0px;
}
#txtdiv p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 4px;
}
#txtdiv p:last-of-type {
    margin-bottom: 0px;
}
#txtdiv a {
    cursor: pointer;
    text-decoration: none;
}
.desc {
    font-family: "Segoe UI", sans-serif;
    color: var(--colorFg);
}
#copy {
    cursor: pointer;
}
