@media (prefers-color-scheme: light) {
    body {
        --colorBgDark: #e7e7e7;
        --colorBgLight: #fefefe;
        --colorFg: #3b3b3b;
        --colorFgFadedMore: #7c7c7c;
        --colorHighlightBg: #3367d6;
        --colorAccentFg: #f6f6f6;
        --colorBorder: #242424;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --colorBgDark: #2a2a2a;
        --colorBgLight: #343434;
        --colorFg: #cdc8c0;
        --colorFgFadedMore: #858079;
        --colorHighlightBg: #8ac5f0;
        --colorAccentFg: #f6f6f6;
        --colorBorder: #242424;
    }
}


body {
    display: block;
    font-family: "Segoe UI", sans-serif;
    min-width: 170px;
    min-height: 200px;
    background: var(--colorBgDark, #e7e7e7);
    color: var(--colorFg, #3b3b3b);
    margin: 0;
}


/* Extensions */

#switcher {
    position: relative;
    overflow-y: hidden;
    margin-bottom: 5px;
}
#switcher:hover {
    overflow-y: overlay;
}
.extension {
    padding: 5px 15px 5px 15px;
    color: var(--colorFgFadedMore, #7c7c7c);
    margin-bottom: 10px;
    background: var(--colorBgLight, #fefefe);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: var(--radiusRounded, 2px);
}
.extension div {
    border: 1px solid transparent;
    width: 100%;
    overflow: hidden;
}
.extension:not(.enabled) .name {
    text-decoration: line-through;
}
.extension.enabled, .extension.enabled:hover {
    font-family: "Segoe UI", sans-serif;
    color: var(--colorFg, #3b3b3b);
}
.extension:hover {
    background-color: var(--colorBgAlphaHeavier, rgba(255,255,255,0.2));
}
.extension img {
    height: 16px;
    margin-right: 6px;
}
.extension {
    display: flex;
    flex-direction: column;
}
.extension .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.extension .details {
    display: none;
}
.extension.expanded .details {
    display: flex;
    flex-direction: column;
}
.extension .name {
    font-weight: bold;
}
.extension:not(.expanded) .name {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.extension a, .extension a:visited {
    color: var(--colorHighlightBg, #3367d6);
}

/* toggle button from extensions */
input[type="checkbox"]{
    visibility: hidden;
    width: 32px;
    height: 16px;
    cursor: pointer;
}
input[type="checkbox"]:checked::before {
    background-color: var(--colorAccentBgFadedMost, #6884fb);
}

input[type="checkbox"]::before {
    content:" ";
    background-color: grey;
    border-radius: 8px;
    height: 12px;
    display: block;
    transition: background-color linear 80ms;
    width: 28px;
    z-index: 0;
    visibility: visible;
}

input[type="checkbox"]:checked::after {
    background-color: var(--colorAccentBg, #104fbd);
    transform: translate(14px, -14px);
}

input[type="checkbox"]::after {
    content:" ";
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    display: block;
    height: 16px;
    transform: translate(-2px, -14px);
    transition: transform linear 80ms, background-color linear 80ms;
    width: 16px;
    z-index: 1;
    visibility: visible;
}

input[type="checkbox"][disabled]{
    filter: grayscale(1);
    pointer-events: none;
}

/* Menu */

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hide, .uninstall {
    text-align: center;
    border: 1px solid var(--colorBorder, rgb(218, 220, 224));
    border-radius: var(--radius, 4px);
    background: var(--colorBgLight, #fefefe);
    color: var(--colorFg, #3b3b3b);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}
.hide:hover, .uninstall:hover {
    background-color: var(--colorAccentBg, #104fbd);
    color: var(--colorAccentFg, #f6f6f6) !important;
}

/* Info */

#txtdiv {
    padding: 0 15px 0 15px;
    border: 1px solid transparent;
    white-space: normal;
    word-break: break-all;
    margin-top: 0px;
}
#txtdiv p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 4px;
}
#txtdiv p:last-of-type {
    margin-bottom: 0px;
}
#txtdiv a {
    cursor: pointer;
    text-decoration: none;
}
.desc {
    font-family: "Segoe UI", sans-serif;
    color: var(--colorFg, #3b3b3b);
}
#copy {
    cursor: pointer;
}
